/*.category-box {
  border: 1px solid #BB4F22;
  padding: 2% 2% 4% 5%;
  width: 40%;
  margin: 2%;
  display: inline-block;
  flex-grow: 1;
}

.category-box:hover {
  border: 1px solid #BB4F22;
  background-color: #BB4F22;
  color: white;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.category-box a:hover {
  color: white;
  transition: color 0.5s ease;
  text-decoration: none;
}*/

.category-index-header {
  margin-left: 1.5em;
}

.venue-box  .category-index-h2 a {
  color: #777;
}

.venue-box  .category-index-h2 a:hover {
  color: #BB4F22;
  transition: color 0.5s ease;
}

