#movie-category {
  font-size: .75em;
}

#reviews-container {
  border-bottom: 1px solid black;
  padding-bottom: 2em;
}

.review-info {
  border-bottom: 1px solid #BB4F22;
  margin-left: 1.5em;
  margin-top: 1.5em;
  padding-bottom: .5em;
}

.review-info p {
  display: inline-block;
  margin-right: .75em;
}

.review-sub-info {
  display: block;
  font-size: .75em;
  padding: 0;
  margin-top: -1em;
}

.review-sub-info a {
  color: black;
}

.review-sub-info a:hover {
  color: #BB4F22;
  transition: color 0.5s ease;
  text-decoration: none;
}

.review-sub-info li {
  display: inline-block;
  list-style: none;
}

#movie-show-bottom {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.comment-info {
  margin-left: 1.5em;
}

.comment-username {
  font-size: .75em;

}

.comment-sub-info {
  display: block;
  padding: 0;
  margin-top: -1em;
}

.comment-sub-info li {
  display: inline-block;
  list-style: none;
  font-size: .75em;
}

.comment-sub-info a {
  color: black;
}

.comment-sub-info a:hover {
  color: #BB4F22;
  transition: color 0.5s ease;
  text-decoration: none;
}

.comment-edit-delete {
  display: inline-block;
}

.splash-color {
  color: #BB4F22;
}

a {
  color: black;
}

a:hover {
  color: #BB4F22;
}
