<main class="Site-content">
  <div class="container-fluid">

    <div class="venue-box">
      <h1>Tickets</h1>
      <p>General admission: $15<br>
        Student admission: $5<br>
        Senior citizens: $4<br>
        Special groups: please inquire <%= link_to "here", contact_path %>.</p>
    </div>
  </div>
</main>
