<main class="Site-content">
  <div class="container-fluid">
    <h1>Tickets</h1>

    <p>General admission: $15</p>
    <p>Student admission: $5</p>
    <p>Senior citizens: $4</p>
    <p>Special groups: please inquire <%= link_to "here", contact_path %></p>
  </div>
</main>
