<main class="Site-content">
  <div class="container">
    <div class="venue-container">
      <div class="venue-box">
        <h2>Judges for the 2016 festival</h2>
      </div>
    </div>

    <div class="venue-container">
        <% @judges.each do | judge | %>
          <div class="venue-box">
            <h3><%= judge.username %></h3>
            <p>Bio: <%= Faker::Lorem.paragraph %></p>
          </div>
        <% end %>g
    </div>
  </div>
</main>
