.category-index-header {
  color: #777;
}
.venue-box  .category-index-h2 a {
  color: #777;
}
.venue-box  .category-index-h2 a:hover {
  color: #BB4F22;
  transition: color 0.5s ease;
}
.category-show-header {
  color: #777;
}
#category-back-link {
  font-size: .75em;
}
#category-back-link a:hover {
  color: #BB4F22;
  transition: color 0.5s ease;
  text-decoration: none;
}
