#winner-link:hover {
  text-decoration: none;
  color: #000;
  transition: color 0.5s ease;
}
.overall-winner {
  /*background-image: url(header.jpg); Does not show up on heroku, shows up on local */
  /*background-image: url(assets/header.jpg); Does not show up on heroku OR local */
  /*background-image: url("header.jpg"); Does not show up on heroku, shows up on local */
  background-image: image-url("header.jpg");
  background-size: cover !important;
  border: 3px solid #BB4F22;
  padding: 5%;
  text-align: center;
  margin: 1% 0;
}
.inner-overall-winner {
  background-color: rgba(187, 79, 34, 0.6);
  padding: 2%;
  color: white;
}
.inner-overall-winner a {
  color: white;
}
