<main class="Site-content">
  <div class="container">
    <div class="venue-container">
      <div class="venue-box">
        <h2><%= link_to "Tickets", tickets_path %></h2>
        <p>Tickets issues hotline:  212-775-4552</p>
        <p>Please reach out to discuss any ticketing issues.</p>
      </div>

      <div class="venue-box">
        <h2><%= link_to "Venues", venues_path %></h2>
        <p>Venues issues hotline: 212-775-9987</p>
        <p>If you are a filmmaker or publicist, and would like us to consider covering a particular film, you may send an email to editors@lesfilmfestival.com. They welcome suggestions about editorial coverage and ideas for features.</p>
      </div>

      <div class="venue-box">
        <h2><a href="#">All other enquiries</a></h2>
        <p>General number: 212-775-1217</p>
        <p>The editors would be delighted to hear from you. Please send general feedback about editorial content and design to editors@lesfilmfestival.com.</p>
      </div>
    </div>
  </div>
</main>
